body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 40px 0;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}
